:root {
  --color-primary-light-1: #fef8f0;
  --color-primary-light-2: #fff3ee;
  --color-primary-light-3: #fff1ee;
  --color-primary-light-4: #ffbcac;
  --color-primary-dark: #ff7a59;
  --color-secondary-light-1: #f5f8fa;
  --color-secondary-light-2: #00bda5;
  --color-secondary: #0091ae;
  --color-secondary-dark: #007a8c;
  --color-green: #00bda5;
  --color-grey-light: #cbd6e2;
  --color-grey-dark-1: #33475b;
  --color-black: #000;
  --color-green: #00bda5; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.8rem;
  color: var(--color-grey-dark-1); }

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

.text-primary-dark {
  color: var(--color-primary-dark) !important; }

.heading-primary {
  font-size: 4.6rem;
  line-height: 6rem;
  margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 3rem; }

.heading-tertiary {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 500; }

.small {
  font-size: 0.8em; }

.top-nav {
  background-color: #fff;
  font-size: 1.2rem; }

.main-nav {
  background-color: #fff;
  z-index: 90;
  box-shadow: 0 2px 4px rgba(45, 62, 80, 0.2);
  position: sticky;
  top: 0; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .navigation__group {
    display: flex;
    align-items: baseline; }
  .navigation__group-item {
    display: inline-block;
    position: relative; }
    .navigation__group-item.has-dropdown:hover > ul.dropdown__menu {
      display: block; }
    .navigation__group-item.has-dropdown:hover > .navigation__link::after {
      content: '';
      position: absolute;
      top: -webkit-calc(100% - 10px);
      top: calc(100% - 10px);
      right: 2rem;
      height: 2rem;
      width: 2rem;
      background: #fff;
      transform: rotate(45deg);
      border-left: 1px solid var(--color-grey-light);
      border-top: 1px solid var(--color-grey-light);
      z-index: 110; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 1.2rem 1rem;
    white-space: nowrap; }
  .navigation__link:hover {
    text-decoration: underline;
    color: var(--color-secondary-dark); }
  .navigation__link.has-icon i:first-child {
    padding-right: 1rem; }
  .navigation__link.dropdown i:last-child {
    padding-left: 1rem; }
  .navigation__logo {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 1rem 2rem 1.8rem 0;
    letter-spacing: -2px; }
    .navigation__logo:hover .navigation__link {
      text-decoration: none;
      color: inherit; }

.navigation__group-item--search .navigation__link, .navigation__group-item--search .navigation__link:link, .navigation__group-item--search .navigation__link:visited, .navigation__group-item--search .navigation__link:hover {
  color: var(--color-secondary-dark); }

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  display: none;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.3rem;
  box-shadow: 0 1px 24px rgba(45, 62, 80, 0.2);
  z-index: 100; }
  .dropdown__menu--right {
    left: 1.5rem; }
  .dropdown__menu--left {
    right: 0; }

.cta {
  position: relative;
  min-height: 800px;
  padding-top: 10rem;
  padding-bottom: 1px;
  border-bottom: 3px solid var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light-1), var(--color-primary-light-2));
  background-size: cover;
  background-repeat: no-repeat; }
  .cta__text {
    position: absolute;
    z-index: 80;
    max-width: 430px;
    margin-left: 1.6rem;
    text-align: left; }
  .cta__actions {
    max-width: 24rem; }
    .cta__actions .btn {
      margin: 2rem 0; }
    .cta__actions .text-smaller {
      font-size: 0.8em; }
  .cta__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: auto; }

.products {
  background-color: var(--color-secondary-light-1);
  padding-top: 7rem; }
  .products__header {
    text-align: center;
    max-width: 875px;
    margin: 0 auto 5.6rem; }
    .products__header p {
      font-size: 1.6rem;
      margin-top: 4rem;
      text-align: justify; }
  .products__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
    .products__actions .btn {
      margin: 0 0.8rem; }

.footer {
  min-height: 400px;
  background-color: var(--color-grey-dark-1); }

.btn, .btn:visited, .btn:link {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem; }

.btn--primary {
  color: #fff;
  background-color: var(--color-primary-dark); }
  .btn--primary:hover {
    background-color: var(--color-primary-light-4); }

.btn--white {
  background-color: #fff;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark); }
  .btn--white:hover {
    background-color: var(--color-primary-light-3);
    color: var(--color-primary-dark); }

.btn.btn--large {
  padding: 2rem 4rem;
  font-size: 1.7rem; }

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 4rem 3.2rem 4rem; }
  .card-list__card {
    transition: all 0.2s;
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 11px #eaf0f6;
    width: calc(33% - 1.6rem);
    padding: 3.2rem;
    margin-right: 2rem;
    margin-bottom: 3rem; }
    .card-list__card:nth-child(3) {
      margin-right: 0; }
    .card-list__card--header {
      display: flex;
      align-items: baseline; }
      .card-list__card--header img {
        height: 2rem;
        margin-right: 1rem; }
    .card-list__card--content p {
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: left;
      padding-bottom: 2.4rem;
      margin: 1.2rem 0;
      border-bottom: 1px solid var(--color-grey-light); }
    .card-list__card--features ul {
      font-size: 1.3rem;
      margin: 2rem 0; }
      .card-list__card--features ul li {
        font-weight: 500;
        margin-bottom: 0.5rem; }
        .card-list__card--features ul li::before {
          content: '';
          background: url("/img/Orange_Checkmark.svg") no-repeat;
          width: 1.8rem;
          height: 1.8rem;
          display: inline-block;
          margin-bottom: -0.4rem;
          margin-right: 0.5rem; }
    .card-list__card--cta .btn {
      width: 100%; }
    .card-list__card.has-ribbon {
      position: relative; }
      .card-list__card.has-ribbon p.ribbon {
        position: absolute;
        top: 1.5rem;
        right: -0.4rem;
        font-size: 1rem;
        background-color: var(--color-secondary-light);
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
        padding: 0 0.4rem 0 1rem;
        line-height: 2rem; }
    .card-list__card:hover {
      transform: scale(1.014);
      box-shadow: 10px 50px -5px rgba(51, 71, 91, 0.2); }
