:root {
  --color-primary-light-1: #fef8f0;
  --color-primary-light-2: #fff3ee;
  --color-primary-light-3: #fff1ee;
  --color-primary-light-4: #ffbcac;
  --color-primary-dark: #ff7a59;
  --color-secondary-light-1: #f5f8fa;
  --color-secondary-light-2: #00bda5;
  --color-secondary-light-3: #00a4bd;
  --color-secondary-light-4: #7fd1de;
  --color-secondary: #0091ae;
  --color-secondary-dark: #007a8c;
  --color-grey-light: #cbd6e2;
  --color-grey-light-1: #7c98b6;
  --color-grey-dark-1: #33475b;
  --color-grey-dark-2: #516f90;
  --color-grey-dark-3: #425b76;
  --color-black: #000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.8rem;
  color: var(--color-grey-dark-1); }

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

.text-primary-dark {
  color: var(--color-primary-dark) !important; }

.text-grey {
  color: var(--color-grey-dark-2); }

.heading-primary {
  font-size: 4.6rem;
  line-height: 6rem;
  margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 3rem; }

.heading-tertiary {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 500; }

.small {
  font-size: 0.8em;
  font-weight: 300; }

.top-nav {
  background-color: #fff;
  font-size: 1.2rem; }

.main-nav {
  background-color: #fff;
  z-index: 90;
  box-shadow: 0 2px 4px rgba(45, 62, 80, 0.2);
  position: sticky;
  top: 0; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .navigation__group {
    display: flex;
    align-items: center; }
  .navigation__group-item {
    display: inline-block;
    position: relative; }
    .navigation__group-item.has-dropdown:hover > ul.dropdown__menu {
      display: block; }
    .navigation__group-item.has-dropdown:hover > .navigation__link::after {
      content: '';
      position: absolute;
      top: -webkit-calc(100% - 10px);
      top: calc(100% - 10px);
      right: 2rem;
      height: 2rem;
      width: 2rem;
      background: #fff;
      transform: rotate(45deg);
      border-left: 1px solid var(--color-grey-light);
      border-top: 1px solid var(--color-grey-light);
      z-index: 110; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 1.2rem 1rem;
    white-space: nowrap; }
  .navigation__link:hover {
    text-decoration: underline;
    color: var(--color-secondary-dark); }
  .navigation__link.has-icon i:first-child {
    padding-right: 1rem; }
  .navigation__link.dropdown i:last-child {
    padding-left: 1rem; }
  .navigation__logo {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 1.8rem 4rem 1.8rem 0;
    letter-spacing: -2px; }
    .navigation__logo:hover .navigation__link {
      text-decoration: none;
      color: inherit; }
    .navigation__logo img {
      height: 2.8rem; }

.navigation__group-item--search .navigation__link, .navigation__group-item--search .navigation__link:link, .navigation__group-item--search .navigation__link:visited, .navigation__group-item--search .navigation__link:hover {
  color: var(--color-secondary-dark); }

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  display: none;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.3rem;
  box-shadow: 0 1px 24px rgba(45, 62, 80, 0.2);
  z-index: 100; }
  .dropdown__menu--right {
    left: 1.5rem; }
  .dropdown__menu--left {
    right: 0; }

.cta {
  position: relative;
  min-height: 800px;
  padding-top: 10rem;
  padding-bottom: 1px;
  border-bottom: 3px solid var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light-1), var(--color-primary-light-2));
  background-size: cover;
  background-repeat: no-repeat; }
  .cta__text {
    position: absolute;
    z-index: 80;
    max-width: 430px;
    margin-left: 1.6rem;
    text-align: left; }
  .cta__actions {
    max-width: 24rem; }
    .cta__actions .btn {
      margin: 2rem 0; }
  .cta__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: auto; }

.products {
  background-color: var(--color-secondary-light-1);
  padding-top: 7rem; }
  .products__header {
    text-align: center;
    max-width: 875px;
    margin: 0 auto 5.6rem; }
    .products__header p {
      font-size: 1.6rem;
      margin-top: 4rem;
      text-align: justify; }
  .products__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
    .products__actions .btn {
      margin: 0 0.8rem; }

.community {
  color: #fff;
  background-image: linear-gradient(45deg, var(--color-secondary-light-3), var(--color-secondary-light-2));
  padding: 11.2rem 0; }
  .community__header {
    max-width: 710px;
    text-align: center;
    margin: 0 auto; }
  .community__stats-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem; }
    .community__stats-grid-item {
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      text-align: center;
      padding: 3rem;
      width: calc(25% - 0.4rem); }
      .community__stats-grid-item:nth-child(4) {
        border-right: none;
        border-bottom: 1px solid #fff; }
      .community__stats-grid-item:nth-child(n + 5) {
        border-bottom: none; }
      .community__stats-grid-item:last-child {
        border-bottom: none;
        border-right: none; }
      .community__stats-grid-item img {
        max-height: 4rem;
        margin-bottom: 1rem; }
      .community__stats-grid-item .heading-primary {
        margin-bottom: 1rem; }
      .community__stats-grid-item .has-plus {
        position: relative; }
        .community__stats-grid-item .has-plus::after {
          content: '+';
          display: inline-block;
          position: absolute;
          top: 0;
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500; }

.customers {
  padding-top: 10rem; }
  .customers__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .customers__text {
    width: 33%;
    text-align: left; }
  .customers__logo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 60rem; }
  .customers__logo {
    flex: 1 1 25%;
    text-align: center;
    padding: 2rem; }
    .customers__logo img {
      max-height: 100%;
      width: 100%; }

.cta-picture {
  background-color: #fff;
  padding: 6rem 0; }
  .cta-picture__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .cta-picture__text {
    width: 66%; }
  .cta-picture__actions .btn {
    margin: 2rem 0; }
  .cta-picture__picture {
    display: inline-block;
    width: 33%;
    text-align: right; }
    .cta-picture__picture img {
      width: 100%; }

.footer {
  background-color: var(--color-grey-dark-1);
  color: #fff;
  text-transform: initial;
  padding: 6rem 4rem; }
  .footer h4 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 0 1.4rem 0; }
  .footer__links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__links-left {
    border-right: 1px solid var(--color-grey-light-1);
    width: 40%; }
    .footer__links-left ul {
      columns: 2; }
  .footer__links-right {
    display: flex;
    justify-content: space-evenly;
    margin-left: 3rem; }
  .footer__links-item {
    margin-right: 2rem; }
    .footer__links-item:last-child {
      margin-bottom: 1.4rem; }
    .footer__links-item a, .footer__links-item a:visited, .footer__links-item a:link {
      display: block;
      color: var(--color-grey-light);
      font-size: 1.2rem;
      text-decoration: none; }
    .footer__links-item:hover a {
      color: var(--color-secondary-light-4);
      text-decoration: underline; }
  .footer__social {
    padding: 2rem 0; }
    .footer__social .container {
      position: relative; }
      .footer__social .container::before, .footer__social .container::after {
        content: '';
        width: 33%;
        border-bottom: solid 1px var(--color-grey-light);
        position: absolute;
        top: 50%;
        z-index: 1; }
      .footer__social .container::before {
        right: 1.6rem; }
      .footer__social .container::after {
        left: 1.6rem; }
  .footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer__social-item {
    margin: 0 2rem; }
    .footer__social-item a, .footer__social-item a:link, .footer__social-item a:visited {
      font-size: 2.8rem;
      color: var(--color-grey-light); }
    .footer__social-item a:hover {
      color: var(--color-secondary-light-4); }
  .footer__bottom {
    text-align: center; }
  .footer__logo {
    height: 2.8rem; }
  .footer__copyright {
    font-size: 1.2rem;
    color: var(--color-grey-light);
    font-weight: 300; }
  .footer__legal a, .footer__legal a:visited, .footer__legal a:link {
    font-size: 1.4rem;
    color: #fff;
    padding: 0rem 1.3rem; }
  .footer__legal a:hover {
    color: var(--color-secondary-light-4); }
  .footer__legal a:first-child {
    border-right: 1px solid var(--color-grey-light); }

#chatbot {
  display: block;
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 100; }

.btn, .btn:visited, .btn:link {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem; }

.btn--primary {
  color: #fff;
  background-color: var(--color-primary-dark); }
  .btn--primary:hover {
    background-color: var(--color-primary-light-4); }

.btn--white {
  background-color: #fff;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark); }
  .btn--white:hover {
    background-color: var(--color-primary-light-3);
    color: var(--color-primary-dark); }

.btn--secondary {
  background-color: var(--color-grey-dark-3);
  color: #fff; }

.btn.btn--large {
  padding: 2rem 4rem;
  font-size: 1.7rem; }

.btn.btn--round {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px; }
  .btn.btn--round i {
    font-size: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem); }

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 3.2rem; }
  .card-list__card {
    transition: all 0.2s;
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 11px #eaf0f6;
    width: calc(33% - 1.6rem);
    padding: 3.2rem;
    margin-right: 2rem;
    margin-bottom: 3rem; }
    .card-list__card:nth-child(3) {
      margin-right: 0; }
    .card-list__card--header {
      display: flex;
      align-items: baseline; }
      .card-list__card--header img {
        height: 2rem;
        margin-right: 1rem; }
    .card-list__card--content p {
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: left;
      padding-bottom: 2.4rem;
      margin: 1.2rem 0;
      border-bottom: 1px solid var(--color-grey-light);
      height: 11rem;
      overflow: hidden; }
    .card-list__card--features ul {
      font-size: 1.3rem;
      margin: 2rem 0; }
      .card-list__card--features ul li {
        font-weight: 500;
        margin-bottom: 0.5rem; }
        .card-list__card--features ul li::before {
          content: '';
          background: url("/img/Orange_Checkmark.svg") no-repeat;
          width: 1.8rem;
          height: 1.8rem;
          display: inline-block;
          margin-bottom: -0.4rem;
          margin-right: 0.5rem; }
    .card-list__card--cta .btn {
      width: 100%; }
    .card-list__card.has-ribbon {
      position: relative; }
      .card-list__card.has-ribbon p.ribbon {
        position: absolute;
        top: 1.5rem;
        right: -0.4rem;
        font-size: 1rem;
        background-color: var(--color-secondary-light);
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
        padding: 0 0.4rem 0 1rem;
        line-height: 2rem; }
    .card-list__card:hover {
      transform: scale(1.014);
      box-shadow: 10px 50px -5px rgba(51, 71, 91, 0.2); }
