:root {
  --color-primary-light-1: #fef8f0;
  --color-primary-light-2: #fff3ee;
  --color-primary-light-3: #fff1ee;
  --color-primary-light-4: #ffbcac;
  --color-primary-dark: #ff7a59;
  --color-secondary: #0091ae;
  --color-secondary-dark: #007a8c;
  --color-grey-light: #cbd6e2;
  --color-grey-dark-1: #33475b;
  --color-black: #000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.61111em;
  font-size: 1.8rem;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light-1), var(--color-primary-light-2));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

.header {
  position: relative; }

.header__top-nav {
  font-size: 1.2rem;
  background-color: #fff; }

.navigation {
  display: flex;
  justify-content: space-between; }

.navigation__group-item {
  display: inline-block;
  position: relative; }

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 1.2rem 1.6rem; }

.navigation__link:hover {
  text-decoration: underline;
  color: var(--color-secondary-dark); }

.navigation__link.has-icon i:first-child {
  padding-right: 1rem; }

.navigation__link.dropdown i:last-child {
  padding-left: 1rem; }

.dropdown__menu {
  position: absolute;
  left: 1.5rem;
  background-color: #fff;
  display: none;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.3rem;
  box-shadow: 0 1px 24px rgba(var(--color-black), 0.2); }

.navigation__group-item.has-dropdown:hover > ul.dropdown__menu {
  display: block; }

.navigation__group-item.has-dropdown:hover > .navigation__link::after {
  content: '';
  position: absolute;
  top: -webkit-calc(100% - 10px);
  top: calc(100% - 10px);
  right: 2rem;
  height: 2rem;
  width: 2rem;
  background: #fff;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-grey-light);
  border-top: 1px solid var(--color-grey-light);
  z-index: 100; }
