:root {
  --color-primary-light-1: #fef8f0;
  --color-primary-light-2: #fff3ee;
  --color-primary-light-3: #fff1ee;
  --color-primary-light-4: #ffbcac;
  --color-primary-dark: #ff7a59;

  --color-secondary-light-1: #f5f8fa;
  --color-secondary-light-2: #00bda5;
  --color-secondary-light-3: #00a4bd;
  --color-secondary: #0091ae;
  --color-secondary-dark: #007a8c;

  --color-grey-light: #cbd6e2;
  --color-grey-dark-1: #33475b;

  --color-black: #000;

  --color-green: #00bda5;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; (10px/16px browser default = 62.5%)
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.8rem;
  color: var(--color-grey-dark-1);
}

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

//typography
.text-primary-dark {
  color: var(--color-primary-dark) !important;
}

.heading-primary {
  font-size: 4.6rem;
  line-height: 6rem;
  margin-bottom: 3rem;
}
.heading-secondary {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 3rem;
}
.heading-tertiary {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.small {
  font-size: 0.8em;
}
