// buttons
.btn {
  &,
  &:visited,
  &:link {
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
  }
  &--primary {
    color: #fff;
    background-color: var(--color-primary-dark);
    &:hover {
      background-color: var(--color-primary-light-4);
    }
  }

  &--white {
    background-color: #fff;
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    &:hover {
      background-color: var(--color-primary-light-3);
      color: var(--color-primary-dark);
    }
  }

  &.btn--large {
    padding: 2rem 4rem;
    font-size: 1.7rem;
  }
}

// cards
.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 3.2rem;

  &__card {
    transition: all 0.2s;

    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 11px #eaf0f6;
    width: calc(33% - 1.6rem);
    padding: 3.2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;

    &:nth-child(3) {
      margin-right: 0;
    }

    &--header {
      display: flex;
      align-items: baseline;
      img {
        height: 2rem;
        margin-right: 1rem;
      }
    }

    &--content {
      p {
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: left;
        padding-bottom: 2.4rem;
        margin: 1.2rem 0;
        border-bottom: 1px solid var(--color-grey-light);
        height: 11rem;
        overflow: hidden;
      }
    }

    &--features {
      ul {
        font-size: 1.3rem;
        margin: 2rem 0;
        li {
          font-weight: 500;
          margin-bottom: 0.5rem;
          &::before {
            content: '';
            background: url('/img/Orange_Checkmark.svg') no-repeat;
            width: 1.8rem;
            height: 1.8rem;
            display: inline-block;
            margin-bottom: -0.4rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    &--cta {
      .btn {
        width: 100%;
      }
    }

    &.has-ribbon {
      position: relative;
      p.ribbon {
        position: absolute;
        top: 1.5rem;
        right: -0.4rem;
        font-size: 1rem;
        background-color: var(--color-secondary-light);
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
        padding: 0 0.4rem 0 1rem;
        line-height: 2rem;
      }
    }

    &:hover {
      transform: scale(1.014);
      box-shadow: 10px 50px -5px rgba(#33475b, 0.2);
    }
  }
}
