.top-nav {
  background-color: #fff;
  font-size: 1.2rem;
}

.main-nav {
  background-color: #fff;
  z-index: 90;
  box-shadow: 0 2px 4px rgba(#2d3e50, 0.2);
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__group {
    display: flex;
    align-items: baseline;
  }
  &__group-item {
    display: inline-block;
    position: relative;

    &.has-dropdown:hover {
      & > ul.dropdown__menu {
        display: block;
      }
      & > .navigation__link::after {
        content: '';
        position: absolute;
        top: -webkit-calc(100% - 10px);
        top: calc(100% - 10px);
        right: 2rem;
        height: 2rem;
        width: 2rem;
        background: #fff;
        transform: rotate(45deg);
        border-left: 1px solid var(--color-grey-light);
        border-top: 1px solid var(--color-grey-light);
        z-index: 110;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      padding: 1.2rem 1rem;
      white-space: nowrap;
    }
    &:hover {
      text-decoration: underline;
      color: var(--color-secondary-dark);
    }
    &.has-icon {
      i:first-child {
        padding-right: 1rem;
      }
    }
    &.dropdown {
      i:last-child {
        padding-left: 1rem;
      }
    }
  }

  &__logo {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 1rem 2rem 1.8rem 0;
    letter-spacing: -2px;
    &:hover .navigation__link {
      text-decoration: none;
      color: inherit;
    }
  }
}

.navigation__group-item--search .navigation__link {
  &,
  &:link,
  &:visited,
  &:hover {
    color: var(--color-secondary-dark);
  }
}

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  display: none;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.3rem;
  box-shadow: 0 1px 24px rgba(#2d3e50, 0.2);
  z-index: 100;
  &--right {
    left: 1.5rem;
  }
  &--left {
    right: 0;
  }
}

.cta {
  position: relative;
  min-height: 800px;
  padding-top: 10rem;
  padding-bottom: 1px;
  border-bottom: 3px solid var(--color-grey-dark-1);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light-1),
    var(--color-primary-light-2)
  );
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    position: absolute;
    z-index: 80;
    max-width: 430px;
    margin-left: 1.6rem;
    text-align: left;
  }
  &__actions {
    max-width: 24rem;
    .btn {
      margin: 2rem 0;
    }
    .text-smaller {
      font-size: 0.8em;
    }
  }
  &__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: auto;
  }
}

.products {
  background-color: var(--color-secondary-light-1);
  padding-top: 7rem;
  &__header {
    text-align: center;
    max-width: 875px;
    margin: 0 auto 5.6rem;
    p {
      font-size: 1.6rem;
      margin-top: 4rem;
      text-align: justify;
    }
  }
  &__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .btn {
      margin: 0 0.8rem;
    }
  }
}

.footer {
  min-height: 400px;
  background-color: var(--color-grey-dark-1);
}
