.top-nav {
  background-color: #fff;
  font-size: 1.2rem;
}

.main-nav {
  background-color: #fff;
  z-index: 90;
  box-shadow: 0 2px 4px rgba(#2d3e50, 0.2);
  position: sticky;
  top: 0;
  .navigation__group-item {
    padding: 1.8rem 1rem;
    &:first-child {
      padding-left: 0;
      padding-right: 4rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__group {
    display: flex;
    align-items: stretch;
  }
  &__group-item {
    display: inline-block;
    position: relative;

    &.has-dropdown:hover {
      & > ul.dropdown__menu {
        display: block;
      }
      & > .navigation__link::after {
        content: '';
        position: absolute;
        top: -webkit-calc(100% - 10px);
        top: calc(100% - 1rem);
        right: 2rem;
        height: 2rem;
        width: 2rem;
        background: #fff;
        transform: rotate(45deg);
        border-left: 1px solid var(--color-grey-light);
        border-top: 1px solid var(--color-grey-light);
        z-index: 110;
      }
    }

    &.has-menu {
      &::after {
        content: '';
        opacity: 0;
      }
      &:hover {
        & > .menu {
          display: block;
        }
        &::after {
          content: '';
          background-color: var(--color-secondary);
          height: 5px;
          border-radius: 1rem;
          width: 100%;
          position: absolute;
          top: calc(100% - 3px);
          left: 0;
          z-index: 101;
          opacity: 1;
        }
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      padding: 1.4rem 1rem;
      white-space: nowrap;
    }
    &:hover {
      text-decoration: underline;
      color: var(--color-secondary-dark);
    }
    &.has-icon {
      i:first-child {
        padding-right: 1rem;
      }
    }
    &.dropdown {
      i:last-child {
        padding-left: 1rem;
      }
    }
  }

  &__logo {
    img {
      height: 2.8rem;
    }
  }
}

.navigation__group-item--search .navigation__link {
  &,
  &:link,
  &:visited,
  &:hover {
    color: var(--color-secondary-dark);
  }
}

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  display: none;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.3rem;
  box-shadow: 0 1px 24px rgba(#2d3e50, 0.2);
  z-index: 100;
  &--right {
    left: 1.5rem;
  }
  &--left {
    right: 0;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: -110%;
  width: 90vw;
  max-width: 1080px;
  display: none;
  border: 1px solid var(--color-grey-light);
  z-index: 100;

  &__container {
    display: flex;
    flex-direction: row;
  }
  &__column {
    padding: 3rem;
    &--left {
      min-width: 20rem;
      padding-top: 4.3rem;
      background-color: var(--color-secondary-light-1);
    }
    &--right {
      background-color: #fff;
    }
  }
}

.cta {
  position: relative;
  min-height: 800px;
  padding-top: 10rem;
  padding-bottom: 1px;
  border-bottom: 3px solid var(--color-grey-dark-1);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light-1),
    var(--color-primary-light-2)
  );
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    position: absolute;
    z-index: 80;
    max-width: 430px;
    margin-left: 1.6rem;
    text-align: left;
  }
  &__actions {
    max-width: 24rem;
    .btn {
      margin: 2rem 0;
    }
  }
  &__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: auto;
  }
}

.products {
  background-color: var(--color-secondary-light-1);
  padding-top: 7rem;

  &__header {
    text-align: center;
    max-width: 875px;
    margin: 0 auto 5.6rem;
    p {
      font-size: 1.6rem;
      margin-top: 4rem;
      text-align: justify;
    }
  }
  &__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .btn {
      margin: 0 0.8rem;
    }
  }

  .card-list {
    margin-bottom: 3.2rem;
    &__card {
      padding: 3.2rem;
      margin-right: 2rem;
      margin-bottom: 3rem;
      box-shadow: 0 0 11px #eaf0f6;

      &--content {
        p {
          padding-bottom: 2.4rem;
          margin: 1.2rem 0;
          border-bottom: 1px solid var(--color-grey-light);
          height: 11rem;
          overflow: hidden;
          padding-left: 0;
        }
      }
    }
  }
}

.community {
  color: #fff;
  background-image: linear-gradient(
    45deg,
    var(--color-secondary-light-3),
    var(--color-secondary-light-2)
  );
  padding: 11.2rem 0;

  &__header {
    max-width: 710px;
    text-align: center;
    margin: 0 auto;
  }

  &__stats-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;

    &-item {
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      text-align: center;
      padding: 3rem;
      width: calc(25% - 0.4rem);

      &:nth-child(4) {
        border-right: none;
        border-bottom: 1px solid #fff;
      }
      &:nth-child(n + 5) {
        border-bottom: none;
      }
      &:last-child {
        border-bottom: none;
        border-right: none;
      }

      img {
        max-height: 4rem;
        margin-bottom: 1rem;
      }
      .heading-primary {
        margin-bottom: 1rem;
      }
      .has-plus {
        position: relative;
        &::after {
          content: '+';
          display: inline-block;
          position: absolute;
          top: 0;
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}

.customers {
  padding-top: 10rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    width: 33%;
    text-align: left;
  }

  &__logo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 60rem;
  }
  &__logo {
    flex: 1 1 25%;
    text-align: center;
    padding: 2rem;
    img {
      max-height: 100%;
      width: 100%;
    }
  }
}

.cta-picture {
  background-color: #fff;
  padding: 6rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    width: 66%;
  }

  &__actions {
    .btn {
      margin: 2rem 0;
    }
  }

  &__picture {
    display: inline-block;
    width: 33%;
    text-align: right;
    img {
      width: 100%;
    }
  }
}

.footer {
  background-color: var(--color-grey-dark-1);
  color: #fff;
  text-transform: initial;
  padding: 6rem 4rem;

  h4.h4 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 0 1.4rem 0;
  }

  &__links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__links-left {
    border-right: 1px solid var(--color-grey-light-1);
    width: 40%;
    ul {
      columns: 2;
    }
  }

  &__links-right {
    display: flex;
    justify-content: space-evenly;
    margin-left: 3rem;
  }

  &__links-item {
    margin-right: 2rem;
    &:last-child {
      margin-bottom: 1.4rem;
    }

    a {
      &,
      &:visited,
      &:link {
        display: block;
        color: var(--color-grey-light);
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
    &:hover {
      a {
        color: var(--color-secondary-light-4);
        text-decoration: underline;
      }
    }
  }

  &__social {
    padding: 2rem 0;
    .container {
      position: relative;
      &::before,
      &::after {
        content: '';
        width: 33%;
        border-bottom: solid 1px var(--color-grey-light);
        position: absolute;
        top: 50%;
        z-index: 1;
      }
      &::before {
        right: 1.6rem;
      }
      &::after {
        left: 1.6rem;
      }
    }
  }
  &__social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__social-item {
    margin: 0 2rem;
    a {
      &,
      &:link,
      &:visited {
        font-size: 2.8rem;
        color: var(--color-grey-light);
      }
      &:hover {
        color: var(--color-secondary-light-4);
      }
    }
  }

  &__bottom {
    text-align: center;
  }
  &__logo {
    height: 2.8rem;
  }
  &__copyright {
    font-size: 1.2rem;
    color: var(--color-grey-light);
    font-weight: 300;
  }
  &__legal {
    a {
      &,
      &:visited,
      &:link {
        font-size: 1.4rem;
        color: #fff;
        padding: 0rem 1.3rem;
      }
      &:hover {
        color: var(--color-secondary-light-4);
      }
      &:first-child {
        border-right: 1px solid var(--color-grey-light);
      }
    }
  }
}

#chatbot {
  display: block;
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 100;
}
